@import "tailwindcss";

body {
  font-family: 'Arial Black', Gadget, sans-serif;
  background: radial-gradient(circle, #152b3c 0%, #0b141d 100%);
  color: #fff;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
}
